atomicwrites==1.2.1
attrs==18.2.0
backcall==0.1.0
certifi==2018.10.15
chardet==3.0.4
Click==7.0
colorama==0.4.0
cycler==0.10.0
decorator==4.3.0
docopt==0.6.2
easydict==1.9
flatbuffers==1.10
funcsigs==1.0.2
idna==2.7
imageio==2.5.0
ipython==7.0.1
ipython-genutils==0.2.0
jedi==0.13.1
kiwisolver==1.0.1
line-profiler==2.1.2
matplotlib==3.0.3
more-itertools==4.3.0
networkx==2.3
nltk==3.4.1
numpy==1.15.2
parso==0.3.1
pathlib2==2.3.2
pexpect==4.6.0
pickleshare==0.7.5
Pillow==5.3.0
pkg-resources==0.0.0
pluggy==0.8.0
prompt-toolkit==2.0.6
protobuf==3.6.1
ptyprocess==0.6.0
py==1.7.0
Pygments==2.2.0
pyparsing==2.2.2
pytest==3.9.2
python-dateutil==2.7.3
pytorch-nlp==0.3.5
pytz==2018.7
PyWavelets==1.0.3
PyYAML==3.13
ray==0.5.3
redis==2.10.6
requests==2.20.0
scikit-image==0.15.0
scipy==1.1.0
simplegeneric==0.8.1
six==1.11.0
torch==1.1.0
torchfile==0.1.0
torchvision==0.2.2.post3
tqdm==4.27.0
traitlets==4.3.2
ujson==1.35
urllib3==1.24
wcwidth==0.1.7
